<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>게시글 작성</h1>
    </header>
    <main>
        <form action="/create" method="POST" enctype="multipart/form-data"> <label for="title">제목:</label>
            <input type="text" id="title" name="title" required value="{{ request.form['title'] | safe if request.form['title'] }}">
            <br>

            <label for="content">내용:</label>
            <br>
            <textarea id="content" name="content" rows="10" required>{{ request.form['content'] | safe if request.form['content'] }}</textarea>
            <br>

            <label for="author">작성자:</label>
            <input type="text" id="author" name="author" required value="{{ request.form['author'] | safe if request.form['author'] }}">
            <br>

            <label for="file">파일 첨부:</label>  <input type="file" id="file" name="file">
            <br>

            <button type="submit">게시글 등록</button>
        </form>
    </main>
</body>
</html>